{% extends 'layouts/base.html.twig' %}

{% block title 'Rooms' %}

{% block body %}


{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/ptavares/projets/turbo-chat/src/Controller/RoomsController.php'|file_link(0) }}">src/Controller/RoomsController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/ptavares/projets/turbo-chat/templates/rooms/index.html.twig'|file_link(0) }}">templates/rooms/index.html.twig</a></code></li>
    </ul>
</div> #}

    {# Length indiquera le nombre de salle 
    <h1>{{ rooms|length }} Rooms</h1>#}

    {# pluralize pour le pluriel, ensuite rensigner la valeu au singulier et la valeur au pluriel #}
        <h1>{{ pluralize(rooms|length, 'Room') }}</h1>
    
    {% if rooms is not empty %}
    <table>

        <thead>

            <tr>

                <th>Name</th>

                <th></th>

                <th></th>

                <th></th>
                            
            </tr>
            
        </thead>

        <tbody>
            {% for room in rooms %} 
            <tr>

                {# <td>TEACHERS DU NET</td> #}
                <td>{{ room.name }}</td>

                <td>
                    <a href="{{ path('app_rooms_show', {'id': room.id}) }}">
                        Show
                    </a>
                </td>

                <td>
                    <a href="{{ path('app_rooms_edit', {'id': room.id}) }}">
                        Edit
                    </a>
                </td>

                <td>
                    <a href="#" onclick="event.preventDefault(); confirm('Are You Sure?') && document.querySelector('#js-room-deletion-form-{{room.id}}').submit();">
                        Delete
                    </a>
                    <form id="js-room-deletion-form-{{room.id}}" method="POST" action="{{ path('app_rooms_delete', {'id' : room.id}) }}" >

                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('rooms_deletion_' ~ room.id) }}">

                        {# <button type="submit">Delete </button> #}

                    </form>

                </td>
                
            </tr>
            {% endfor %}
            {# <tr>

                <td>Parlons Code</td>

                <td><a href="#">Show</a></td>

                <td><a href="#">Edit</a></td>

                <td><a href="#">Delete</a></td>
                
            </tr> #}

        </tbody>

    </table>
    {% endif %}

<p><a href="{{ path('app_rooms_new') }}">New Room</a></p>
{% endblock %}
